* {
    box-sizing: border-box;
    text-align: center;
}
div div div {
    text-align: left;
}

#Title { 
    grid-area: header;
    background-color: rgb(238, 67, 96);
 }
#Skills { 
    grid-area: right;
    background-color: rgb(230, 128, 243); }

#volunteer { 
    grid-area: footer;
    background-color: rgb(164, 164, 255); }

#Education { 
    grid-area: left;
    background-color: rgb(177, 222, 248); 
}

#MyCVGrid {
    display: grid;
    grid-template-areas:
    'header header header header'
    'left left right right'
    'footer footer footer footer';
}

@media screen and (max-width: 600px) {
    #Title {
        background-color: darkgreen;
    }
}

/* The animation code */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
  
  /* The element to apply the animation to */
  div {
    width: 200;
    height: 200px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }