* {
    text-align: center;
}
p {
    color: lightpink;
}

#lname {
    color: lightblue;
}

.Headers {
    color: purple;
}
ul {
    text-align: center;
    list-style-position: a;
    display: inline-block;
}