<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<header>
    <h2>Current Page: {{ page_name }}</h2>
    {% if nickname != None %}
    <h1>
        Hello {{nickname}}
    </h1>
    <br>
    {% endif %}
    <div class="SubHeaders" id="Headers">
        <div class="SubHeader">
            <a href="{{ url_for('home') }}">
                <h3>Home Page</h3>
            </a>
        </div>
        <div class="SubHeader">
            <a href="{{ url_for('cv') }}">
                <h3>CV Page</h3>
            </a>
        </div>
        <div class="SubHeader">
            <a href="{{ url_for('form') }}">
                <h3>Form Page</h3>
            </a>
        </div>
        <div class="SubHeader">
            <a href="{{ url_for('hobbies') }}">
                <h3>Hobbies</h3>
            </a>
        </div>
        <div class="SubHeader">
            <a href="{{ url_for('ex9') }}">
                <h3>Assignment 9</h3>
            </a>
        </div>
        <div class="SubHeader">
            <a href="{{ url_for('Assignment10.index') }}">
                <h3>Assignment 10</h3>
            </a>
        </div>
    </div>
</header>